main{
  margin-top: 5%;
  margin-bottom: 5%;
}

main h1,h2,h3{
  text-align: center;
}
main p{
  padding-bottom: 4%;
  padding-right: 5%;
  padding-left:5%;
  text-align: justify;
}
main h2{
  background-color: black;
  color: white;
  margin-left: 0;
  margin-bottom: 0;
  padding: 0.5%;
}
main h3{
  background-color: #bad646;
  color: black;
  margin-top: 0;
  padding: 0.5%;
  margin-bottom: 0.5%;
}

main td{
  padding-left: 5%;
  padding-right: 5%;
}
main .buttons {
  word-spacing: 5px;
  padding-left: 5%;
  padding-top: 2%;
}

#submit, #reset{
  background-color: #bad646;
  color: black;
  border-radius: 5px;
  font-size: larger;
  padding: 10px;
}

main #submit:hover{
  background-color: lightgrey;
}
main #reset:hover{
  background-color: lightgrey;
}

main input{
  border-radius: 5px;
}

main select{
  border: 2px black solid;
  border-radius: 5px;
}

main img{
  border-radius: 50%;
}
