@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

body{
  margin: 0%;
  font-family: 'Merriweather Sans', sans-serif;
}
 table,tr,td {
   border-collapse: collapse;
 }

table{width:100%;}

header .logo{
  margin-right: 0%;
  padding-left: 2pc;
}

header .tr1{
   background-color: black;
   color: white;
}

header .heading{
   font-family: 'Merriweather Sans', sans-serif;
   font-size: 50px;
   color: white;
 }

header .img{
   padding-top: 5px;
   width: 300px;
   text-align: left;
 }
 header .search{
   vertical-align: bottom;
   height: 30px;
 }

header input{
   border-radius: 10px;
   font-size: large;
 }

header .td1 {
   text-align: right;
   font-size: large;
}

header .aid {
  color: #bad646;
  font-size: 50px;}

header .tr2{
   background-color: #bad646;
}

header .td2{
   width:100%;
   color:black;
   border-right: #bad646;
   padding: 10px;
}

header a{
   font-size: larger;
   color: black;
   text-decoration: none;
   padding-right:45px;
   padding-left:45px;
   font-family: 'Merriweather Sans', sans-serif;
}

header a:hover{
  text-decoration: underline;
}

header span{
   color: white;
   font-size: larger;
}


footer{
   background-image: url("../Images/footer.jpg");
   background-repeat: repeat;
   color: white;
}


 footer table{
   text-align:center;
 }

 footer img{
   width: 50px;
   padding-right: 20px;
   padding-left: 20px;
 }

 footer h2{
   text-decoration: underline;
 }
 footer a{
   color:white
 }

 footer button{
   background: none;
   border: none;
   color:white;
 }

 footer small{
   font-family: 'Merriweather Sans', sans-serif;
 }
